.section-two {
  position: sticky;
  bottom: 0%;
  z-index: 9;
  transform: translate3d(0px, 0px, 9px);
  transform-style: preserve-3d;

  padding: 10rem 2.5rem 1rem 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  word-break: keep-all;

  @media screen and (min-width: 1440px) {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  &__bg-extension {
    position: absolute;
    left: 0%;
    top: -5rem;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 5rem;

    @media screen and (max-width: 767px) {
      top: -2.5rem;
      height: 2.5rem;
    }
  }

  .col-9-dmax {
    @media screen and (max-width: 1024px) {
      flex: 0 0 80%;
    }

    @media screen and (max-width: 767px) {
      flex: 1;
    }
  }
}

.heading-lines {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  @media screen and (max-width: 767px) {
    display: none;
  }
  .heading-line {
    position: relative;
    bottom: 0.7rem;
    height: 4.9rem;
    border-bottom: 2px solid #b3b8ee;

    @media screen and (max-width: 1024px) {
      height: 3.9rem;
    }
    &.hl-first {
      border-top: 2px solid #b3b8ee;
    }
  }
}
