/* Compressed GT America Fonts */
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Black-Trial.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Bold-Trial.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Light-Trial.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Medium-Trial.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Regular-Trial.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Thin-Trial.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "GT America Compressed";
  src: url(./GT_America/GT-America-Compressed-Ultra-Light-Trial.woff2);
  font-weight: 200;
}

/* Condensed GT America Fonts */
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Black-Trial.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Bold-Trial.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Light-Trial.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Medium-Trial.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Regular-Trial.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Thin-Trial.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "GT America Condensed";
  src: url(./GT_America/GT-America-Condensed-Ultra-Light-Trial.woff2);
  font-weight: 200;
}

/* Expanded GT America Fonts */
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Black-Trial.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Bold-Trial.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Light-Trial.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Medium-Trial.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Regular-Trial.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Ultra-Light-Trial.woff2);
  font-weight: 200;
}
@font-face {
  font-family: "GT America Expanded";
  src: url(./GT_America/GT-America-Expanded-Thin-Trial.woff2);
  font-weight: 100;
}

/* Extended GT America Fonts */
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Black-Trial.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Bold-Trial.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Light-Trial.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Medium-Trial.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Regular-Trial.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Thin-Trial.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "GT America Extended";
  src: url(./GT_America/GT-America-Extended-Ultra-Light-Trial.woff2);
  font-weight: 200;
}

/* Mono GT America Fonts */
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Black-Trial.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Bold-Trial.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Light-Trial.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Medium-Trial.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Regular-Trial.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Thin-Trial.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "GT America Mono";
  src: url(./GT_America/GT-America-Mono-Ultra-Light-Trial.woff2);
  font-weight: 200;
}

/* Standard GT America Fonts */
@font-face {
  font-family: "GT America Standard";
  src: url(./GT_America/GT-America-Standard-Black-Trial.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT America Standard";
  src: url(./GT_America/GT-America-Standard-Bold-Trial.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT America Standard";
  src: url(./GT_America/GT-America-Standard-Light-Trial.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT America Standardo";
  src: url(./GT_America/GT-America-Standard-Medium-Trial.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT America Standard";
  src: url(./GT_America/GT-America-Standard-Regular-Trial.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "GT America Standard";
  src: url(./GT_America/GT-America-Standard-Thin-Trial.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "GT America Standard";
  src: url(./GT_America/GT-America-Standard-Ultra-Light-Trial.woff2);
  font-weight: 200;
}

/* Display GT Super Fonts */
@font-face {
  font-family: "GT Super Display";
  src: url(./GT_Super/GT-Super-Display-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT Super Display";
  src: url(./GT_Super/GT-Super-Display-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "GT Super Display";
  src: url(./GT_Super/GT-Super-Display-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT Super Display";
  src: url(./GT_Super/GT-Super-Display-Regular.woff2);
  font-weight: 400;
}

/* Text GT Super Fonts */
@font-face {
  font-family: "GT Super Text";
  src: url(./GT_Super/GT-Super-Text-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "GT Super Text";
  src: url(./GT_Super/GT-Super-Text-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "GT Super Text";
  src: url(./GT_Super/GT-Super-Text-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "GT Super Text";
  src: url(./GT_Super/GT-Super-Text-Regular.woff2);
  font-weight: 400;
}
