.Hero {
  position: relative;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__content {
    position: relative;

    width: 60%;
    max-width: 100rem;
    margin: 0 -1rem -2rem -1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .Hero__title {
      margin-bottom: 2.5rem;
      position: relative;
    }

    .Hero__annotation {
      position: absolute;
      left: 85%;
      top: 90%;
      right: auto;
      bottom: auto;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 30%;
      svg {
        width: 20%;
      }

      h2 {
        font-size: 1.8rem;
      }
    }

    .Hero__buttons {
      position: relative;

      margin: 0 -0.5rem 7.5rem -0.5rem;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
    }

    .Hero__information {
      p {
      }
    }

    .Hero__brands {
      &--logo {
        svg {
        }
      }
    }
  }

  &__illustration {
    position: absolute;
    opacity: 0;
    img {
    }
  }
}
