.button {
  position: relative;
  z-index: 1;
  min-height: 4rem;
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  line-height: 1em;
  text-align: center;
  text-decoration: none;

  transition: box-shadow 300ms ease;
  cursor: pointer;

  &--main {
    background-color: #4c5fd5;
    color: #fff;
    box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 10rem transparent;

    &:hover {
      outline: 0;
      box-shadow: inset 0 0 0 0 #000, inset 0 0 0 10rem rgba(0, 0, 0, 0.2);
    }
  }

  &--ghost {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 0 10rem transparent;
    transition: color 100ms ease, box-shadow 100ms ease;

    border: 1px solid #fff;
    color: #fff;

    &:hover {
      box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 10rem #fff;
      color: #000;
    }
  }

  &.button-ghost-reverse {
    border: 2px solid #fff;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 10rem #000;

    &:hover {
      box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 10rem #fff;
      color: #fff;
    }
  }
}

.text-link {
  position: relative;
  color: #4c5fd5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.tl-alt {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
