.container-max {
  position: relative;

  width: 100%;
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1280px) {
    overflow: visible;
  }

  @media screen and (max-width: 1024px) {
    max-width: none;
  }
}

.flex-grid {
  position: relative;
  flex-wrap: wrap;
}

.col-wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin-right: -1rem;
  margin-bottom: -2rem;
  margin-left: -1rem;
}

.col {
  position: relative;

  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;

  flex: 1;
}

.col-4-d {
  flex: 0 0 33.32%;
}

.col-8-d {
  flex: 0 0 66.66%;
}

.col-12-d {
  flex: 0 0 100%;
}

.col-12-ml {
  @media screen and (max-width: 767px) {
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
