.text--title {
  font-size: 8rem;
  line-height: 0.94;
  font-weight: 400;
  letter-spacing: -0.05em;

  @media screen and (max-width: 1024px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 4.5rem;
  }
}

.text--heading-xl {
  margin-top: 0;
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.05em;

  @media screen and (max-width: 1024px) {
    font-size: 3.5rem;
    line-height: 1;
  }

  @media screen and (max-width: 767px) {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
  }

  @media screen and (max-width: 479px) {
    font-size: 2.75rem;
  }

  &-super-script {
    display: inline-block;
    font-size: 1rem;
    transform: translate(4px, -32px);

    @media screen and (max-width: 1024px) {
      transform: transform(0, 24px);
    }

    @media screen and (max-width: 767px) {
      transform: translate(0 18px);
      font-size: 0.8rem;
    }
  }
}

.text--heading-s {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.text--gtsuper {
  font-family: var(--font-family-two);
  font-variant-numeric: lining-nums;
}

.text--annotation {
  font-family: var(--font-family-handwriting);

  line-height: 1.4;
  letter-spacing: -0.02em;
}

.text--main {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// Section Three
