.text--title {
  font-size: 8rem;
  line-height: 0.94;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.text--gtsuper {
  font-family: var(--font-family-two);
  font-variant-numeric: lining-nums;
}

.text--annotation {
  font-family: var(--font-family-handwriting);

  line-height: 1.4;
  letter-spacing: -0.02em;
}

.text--main {
}
