.text-container {
  position: relative;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.text-annotation {
  font-size: 2rem;
  line-height: 1.4;
  font-family: var(--font-family-handwriting);
  text-align: center;
  letter-spacing: -0.02em;
}

.text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
