.Home {
  position: relative;
  height: 100%;
  display: block;

  .section {
    position: relative;
    padding: 0 2.5rem;
    width: 100%;

    &.s-hero {
      z-index: 10;

      min-height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 0rem;
      padding-top: 10rem;
      padding-bottom: 7.5rem;
      background-color: #000;
      color: #fff;
      transform: translate3d(0px, 0px, 10px);

      @media screen and (min-width: 1440px) {
        padding-right: 5rem;
        padding-left: 5rem;
      }

      @media screen and (max-width: 1024px) {
        height: 100%;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
      }

      @media screen and (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
      }

      &-versions {
        @media screen and (max-width: 767px) {
          padding-bottom: 0;
        }
      }
    }
  }
}
